/* ========== IMPORTS ========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ========== GENERAL ========== */
* {
    margin: 0;
    padding: 0;
}

p {
    color: black;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom,#ffcb22bc, #ff7e22d6, #780303be);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #780303;
    text-align: center;
}

h1 {
    font-size: 38px;
    margin-bottom: 2%;
}

section {
    text-align: center;
    margin-top: 3%
}

/* ========== NAVIGATION ========== */
header {
    background-color: #f2ebdce7;
}

nav, .nav-links{
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-links {
    gap: 3rem;
    list-style: none;
    font-size: 1.50rem;
}

.nav-links a {
    color: #780303;
    text-decoration: none;
    transition: all 500ms ease;
}

nav a:hover {
    color: #ff7e22;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #ff7e22;
  }

.logo, .logo a, .logo a:hover {
    font-size: 2rem;
    color: #780303;
    text-decoration: none;
}

/* ========== TABLES ========== */
table {
    background-color: #f2ebdce7;
    margin: 0 auto;
    border-collapse: collapse; 
    width: 90%;
} 

th {
    padding: 1%;
}

td {
    padding: 0.5%;
}

.id-cell {
    width: 50px;
}

/* ========== FORMS ========== */
form {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: 1px solid #780303;
    padding: 1%;
    width: 55%;
    background-color: #f2ebdce7;
}

legend {
    color: #780303;
    font-size: 120%;
}

label {
    display:inline-block;
}

input {
    display: inline-block;
    padding: 1%;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    margin: 5%;
    padding: 5%
}
